<div class="center">
<h1>My Profile</h1>

  <p>
    <b>Name:</b>  <%= current_user.username %> <br>
    <b>Email:</b>  <%= current_user.email %> <br>
    <b>Phone:</b>  <%= current_user.phone %> <br>
  </p>

  <%= link_to "Back to Restaurants", restaurant_url %>

<h2>My Reservations</h2>

<table>
  <% @user.reservations.each do |reservation| %>
    <tr>
      <th><b>Date and Time</b></th>
      <th><b>Guests</b></th>
      <th><b>Customer</b></th>
    </tr>

    <tr>
      <td><%= reservation.time %> </td>
      <td><%= reservation.people %></td>
      <td><%= reservation.restaurant.name %></td>
    <tr>
  <% end %>
</table>
