<h1>Your Reservation</h1>
<p>
  Time
  <%= @reservation.time %><br>
  People
  <%= @reservation.people %><br>
  User id
  <%= @reservation.user_id %><br>
  Restaurant id
  <%= @reservation.restaurant_id %><br>
  Availability
  <%= @reservation.availability %><br>
</p>
