<h1><%= @restaurant.name %></h1>

<p>
  Category: <%= @restaurant.category %><br>
  Capacity: <%= @restaurant.capacity %><br>
  Price: <%= @restaurant.price %><br>
</p>

<h3>Our Reservations List:</h3>

<table>
  <% @restaurant.reservations.each do |reservation| %>
    <tr>
      <th><b>Date and Time</b></th>
      <th><b>Guests</b></th>
      <th><b>Customer</b></th>
    </tr>

    <tr>
      <td><%= reservation.time %></td>
      <td><%= reservation.people %></td>
      <td><%= reservation.user.username %></td>
    <tr>
  <% end %>
</table>

<%= link_to 'Back to Restaurants', restaurants_path %>
