<h1>List Restaurants</h1>

<%@restaurants.each do |r| %>
  <br />Name: <%= r.name %><br />
  Category: <%= r.category %><br />
  Price: <%= r.price %><br />
  capacity: <%= r.capacity %><br />
  ---------------

<% end %>


<h1>List Users</h1>
<% @users.each do |u| %>
  <br /> Email : <%= u.email %>
  <br /> Phone: <%= u.phone %>
<% end %>


<h1>List Reservations</h1>
<% @reservations.each do |r| %>
  <br> Time: <%= r.time %>
  <br> People: <%= r.people %>
  <br> User: <%= r.user_id %>
  <br> Restaurant: <%= r.restaurant_id %>
  <br> availability: <%= r.availability %>
<% end %>
